.user-profile-container
  padding: 2rem 0
  background-image: linear-gradient(to top, #000 0%, #111 50%, #222 100%)

  .user-profile-area
    display: flex
    width: 80%
    margin: 0 auto

    img
      border-radius: 100%

    .user-profile-info
      padding-left: 2rem
